@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header,
main {
  flex: 1;
  overflow-y: auto;
}

footer {
  margin-top: auto;
}
